<% if(err){ %>
  <h1><%= err %></h1>
  <%}%>
<form method='post' action='/login'>
  <input type='text' name='username' placeholder='Enter Username' /> <br>
  <input type='password' name='password' placeholder='Enter Password' /> <br>
  <input type='submit' />
</form>
