<form method='post' action='/signup' enctype="multipart/form-data">
  <input type='text' name='username' placeholder='Enter Username' /> <br>
  <input type='password' name='password' placeholder='Enter Password' /> <br>
  <input type='file' name='avatar' /> <br>
  <input type='submit' />
</form>
